<div class="row">
    <div class="col-6 col-sm-6 col-md-5 col-lg-2">
        <img src="../../../assets/img/avatar.jpg" id="fotodeperfil"
        class="img-fluid">
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-2"> 
        <p id="nombre"> Ana Karen Alvarez Aza</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-12 col-sm-12 col-md-5 col-lg-8"> 
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, iusto officiis ea accusantium reprehenderit dolor?</p>
        </span>
    </div>
</div>