<div class="container bg-APgrey">
<div class="row">
    <div class="col-12 col-sm-5 col-md-4 col-lg-3" id="avatarcontainer">
    <app-avatar></app-avatar>
    </div>
    <div class="col-12 col-sm-7 col-md-8 col-lg-3 textos"> 
        <h3 id="nombre"> Ana K. Alvarez Aza</h3>
        <h6>Full Stack Developer Jr</h6>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 textos"> 
        <span>
            <h4>Acerca de mi</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor, recusandae commodi? Cumque est, porro numquam laudantium soluta maiores beatae hic voluptate nobis. Pariatur quibusdam quam mollitia architecto eaque dolores delectus.</p>
        </span>
    </div>
</div>
</div>