<div class="container">
<div class="row" id="acerca-de">
    <div class="col-sm-12 col-md-4 col-lg-2 c-flex">
        <img src="../../../assets/img/avatar.jpg" id="fotodeperfil"
        class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-8 col-lg-10 c-flex"> 
        <h2 id="nombre"> Ana Karen Alvarez Aza</h2>
        <h4>Full Stack Developer Jr</h4>
        <div class="de-mi">
            <h5>Acerca de mí</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis blanditiis id, error fugit quae unde suscipit magni hic tempore debitis, mollitia sint cum dolorem incidunt! Quas atque maxime optio ut?</p>
        </div>
    </div>
</div>
</div>