#banner {
    min-width: 100%;
    min-height: 315px;
    background-image: url(../../../assets/icons/facebook_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
