<div class="row">
    <h2>Hard and Soft skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [showUnits]="false"
        [title]="'habilidad1'"
        [titleFontSize]="'1em'"
        [titleColor]= "'rgb(79, 79, 122)'"
        [animateTitle]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'rgb(185, 185, 222)'"
        [animation]="true"
        [animationDuration]="400"
   ></circle-progress>  
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [showUnits]="false"
        [title]="'habilidad2'"
        [titleFontSize]="'1em'"
        [titleColor]= "'rgb(79, 79, 122)'"
        [animateTitle]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'rgb(185, 185, 222)'"
        [animation]="true"
        [animationDuration]="400"
   ></circle-progress>  
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [showUnits]="false"
        [title]="'habilidad3'"
        [titleFontSize]="'1em'"
        [titleColor]= "'rgb(79, 79, 122)'"
        [animateTitle]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'rgb(185, 185, 222)'"
        [animation]="true"
        [animationDuration]="400"
   ></circle-progress>  
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [showUnits]="false"
        [title]="'habilidad4'"
        [titleFontSize]="'1em'"
        [titleColor]= "'rgb(79, 79, 122)'"
        [animateTitle]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'rgb(185, 185, 222)'"
        [animation]="true"
        [animationDuration]="400"
   ></circle-progress>  
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [showUnits]="false"
        [title]="'habilidad5'"
        [titleFontSize]="'1em'"
        [titleColor]= "'rgb(79, 79, 122)'"
        [animateTitle]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'rgb(185, 185, 222)'"
        [animation]="true"
        [animationDuration]="400"
   ></circle-progress>  
    </div>
    <div class="text-center  col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [showUnits]="false"
        [title]="'habilidad6'"
        [titleFontSize]="'1em'"
        [titleColor]= "'rgb(79, 79, 122)'"
        [animateTitle]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'purple'"
        [innerStrokeColor]="'rgb(185, 185, 222)'"
        [animation]="true"
        [animationDuration]="400"
   ></circle-progress>  
    </div>
</div>