    <div class="row">
        <div class="col mx-auto"><a href=""><img src="../../../assets/icons/linkedin.png" id="linkedin"></a></div>
        <div class="col mx-auto"><a href=""><img src="../../../assets/icons/twitter.png" id="twitter"></a></div>
        <div class="col mx-auto"><a href=""><img src="../../../assets/icons/instagram.png" id="instagram"></a></div>
        <div class="col mx-auto"><a href=""><img src="../../../assets/icons/github.png" id="github"></a></div>
        <div class="col mx-auto"><a href=""><img src="../../../assets/icons/facebook.png" id="facebook"></a></div>
        <div class="col"><button type="button" class="btn btn-outline-light">Login</button></div>
    </div>
 